;;; TO ALTER ALL MAPS SECTION
;;; (cannot contain procedures or functions)

;example - to eliminate all terrain contour lines:
;example   opts_ter@cnLinesOn = False
;example - to change terrain contour interval to 1000 feet/meters:
;example   opts_ter@ContourParameters = (/ 0., 0., 1000. /)
